<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Clevergy.fi - {{ instancetitle }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="loading" style="display:none;"></div>
        <div class="top-bar" id="top-bar">
            <div class="top-bar-left">
                <ul class="menu menu-hover-lines">
                    <li><a href="{{ path('overview') }}"><img src="{{ asset('oshans_icon.svg') }}" style="height:50px;"></a></li>
                    <li><a href="{{ path('overview') }}"><strong>{{ instancetitle }}</strong></a></li>
                </ul>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="top-bar-right align-center" style="padding-top:15px;">
                    <ul class="menu menu-hover-lines">
                        <li {% if activePage|default() == 'overview' %}class="active"{% endif %}><a href="{{ path('overview') }}"><i class="fa fa-home fa-lg"></i></a></li>
                        <li {% if activePage|default() == 'details' %}class="active"{% endif %}><a href="{{ path('overview') }}?details=true"><i class="fa fa-laptop-house fa-lg"></i></a></li>
                        <li {% if activePage|default() == 'prognosis' %}class="active"{% endif %}><a href="{{ path('prognosis') }}"><i class="fa fa-chart-line fa-lg"></i></a></li>
                        <li class="align-right{% if activePage|default() == 'history' %} active{% endif %}"><a href="{{ path('history') }}"><i class="fa fa-calculator fa-lg"></i></a></li>
                        <li class="align-right"><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out-alt fa-lg"></i></a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {% block importmap %}{{ importmap() }}{% endblock %}
        {% block body %}{% endblock %}
        <div class="footer row">
            <div class="small-12 columns footer-body">
                <hr />
                <span class='footer-text'>Clevergy.fi - Clever Home Automation</span>
            </div>
        </div>
        <div class="modal"><!-- Place at bottom of page --></div>
        {% block javascripts %}{% endblock %}
        {% block javascriptsembedded %}{% endblock %}
        <script type="module">
            $(document).foundation();
        </script>
    </body>
</html>
