{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="columns small-12 medium-3 large-centered">
        <form class="log-in-form" action="{{ path("fos_user_security_check") }}" method="post" id="loginForm">
            <h4 class="text-center">{% trans %}security.login.submit{% endtrans %}</h4>
             {% if error %}<span style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</span>{% endif %}
            <label>
                <input type="email" placeholder="{{ 'form.email'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
            </label>
            <label>
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}">
            </label>

            <p><input type="submit" id="_submit" name="_submit" class="button expanded" value="{{ 'security.login.submit'|trans }}"></p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        </form>
    </div>
    <script>
        $('form').submit(function() {
            showSpinner();
        });
    </script>
{% endblock fos_user_content %}
