<div class="row">
{% if currentStat['smartFox'] is defined %}
<div class="small-6 medium-4 columns" style="margin-top:1em;" id="smartfoxOuter">
    <div id="smartfox">
        <h4><i class="fas fa-bolt" style="font-size:2em; color:orange;"></i></h4>
        {% trans %}label.smartfox.pv_power{% endtrans %}: {{ currentStat['smartFox']['PvPower']|join(', ') }} W<br/>
        {% trans %}label.smartfox.net_power{% endtrans %}: {{ currentStat['smartFox']['power_io'] }} W
    </div>
</div>
{% endif %}
{% if currentStat['conexio']|default(false) or currentStat['logoControl']|default(false) %}
<div class="small-6 medium-4 columns" style="margin-top:1em;" id="conexio">
    <h4><i class="fas fa-sun" style="font-size:2em; color:yellow;"></i></h4>
    {% for idx, sensor in connectors['conexio']['sensors']|default([]) if idx == 'p' or idx == 's1' %}
        {{ sensor[0] }}: {{ currentStat['conexio'][idx] }}{{ sensor[1] }}<br/>
    {% endfor %}
    {% for sensor in connectors['logocontrol']['sensors']|default([]) %}
        {{ sensor[0] }}: {{ currentStat['logoControl'][sensor[0]] }}{{ sensor[1] }}<br/>
    {% endfor %}
</div>
{% endif %}
{% if currentStat['pcoWeb'] is defined %}
<div class="small-6 medium-4 columns" style="margin-top:1em;" id="pcoWeb">
    <h4><i class="fas fa-fire" style="font-size:2em; color:red;"></i></h4>
    {% trans %}label.pco.pp_status{% endtrans %}: {{ currentStat['pcoWeb']['ppStatus']|trans }}<br/>
    {% for maSensor in currentStat['mobileAlerts']|default([]) %}
        {% for measurement in maSensor if measurement['label'] != 'timestamp' and measurement['dashboard'] == true %}
            {{ measurement['label']}}: {{ measurement['value'] }}{{ measurement['unit'] }}<br/>
        {% endfor %}
    {% endfor %}
    {% trans %}label.pco.water_temp{% endtrans %}: {{ currentStat['pcoWeb']['waterTemp'] }}°C
</div>
{% endif %}
{% if currentStat['pcoWeb']|default(false) or currentStat['openweathermap']|default(false) %}
<div class="small-6 medium-4 columns" style="margin-top:1em;" id="mobileAlerts">
    <h4><i class="fas fa-cloud-sun-rain" style="font-size:2em; color:blue;"></i></h4>
    {% if currentStat['openweathermap']|default(false) %}{% trans %}label.openweathermap.clouds_next_daylight{% endtrans %}: {{ currentStat['openweathermap']['cloudsNextDaylight'] }}%<br/>{% endif %}
    {% if currentStat['pcoWeb']|default(false) %}{% trans %}label.pco.outside_temp{% endtrans %}: {{ currentStat['pcoWeb']['outsideTemp'] }}°C{% endif %}
</div>
{% endif %}
{% if connectors['chromecast'] is defined %}
<div class="small-6 medium-4 columns" style="margin-top:1em;" id="chromecast">
    <h4><i class="fas fa-headphones-alt" style="font-size:2em; color:pink;"></i></h4>
    {% for ccId, chromecast in connectors['chromecast'] %}
        <h6>
            {% if chromecast['edimax']|default([])|length > 0 or chromecast['mystrom']|default([])|length > 0 %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="$.ajax({url: '{{ path('chromecast_power', {'ccId':ccId, 'power':(chromecastConnector.getPower(chromecast['ip'])+1)%2}) }}'})"{% endif %}><i class="fas fa-power-off" style="color:{% if chromecastConnector.getPower(chromecast['ip']) %}green{% else %}red{% endif %}"></i></a>
            {% endif %}
            {{ chromecast['name']}}
        </h6>
        {% if is_granted('ROLE_OWNER') and chromecastConnector.getState(chromecast['ip']) == 'playing' %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="$.ajax({url: '{{ path('chromecast_volume_down', {'ccId':ccId}) }}'})"><i class="fas fa-volume-down"></i></a>
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="$.ajax({url: '{{ path('chromecast_volume_up', {'ccId':ccId}) }}'})"><i class="fas fa-volume-up"></i></a>
            <br/>
        {% endif %}
        {% if chromecastConnector.getPower(chromecast['ip']) %}
            {% for streamId, stream in chromecast['streams'] %}
                {% set currentState = false %}
                {% if chromecastConnector.getUrl(chromecast['ip']) == stream['url'] %}
                    {% set currentStream = true %}
                    {% set currentState = chromecastConnector.getState(chromecast['ip']) %}
                {% else %}
                    {% set currentStream = false %}
                {% endif %}
                <span style="margin-left:20px;"></span><a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="$.ajax({url: '{% if currentStream %}{{ path('chromecast_stop', {'ccId':ccId}) }}{% else %}{{ path('chromecast_play', {'ccId':ccId, 'streamId':streamId}) }}{% endif %}'});"{% endif %}>{% if currentStream %}<i class="{% if currentState|default(false) == 'working' %}fas fa-spinner fa-spin{% else %}fas fa-stop{% endif %}" style="color:green"></i>{% else %}<i class="{% if currentState|default(false) == 'working' %}fas fa-spinner fa-spin{% else %}fas fa-play{% endif %}" style="color:red"></i>{% endif %}</a>
                {{ stream['name'] }}
                {% if not loop.last %}<br/>{% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if currentStat['edimax'] is defined or currentStat['mystrom'] is defined or currentStat['shelly'] is defined %}
<div class="small-6 medium-4 columns" style="margin-top:1em;" id="edimax">
    <h4><i class="fas fa-plug" style="font-size:2em; color:green;"></i></h4>
    {% for key, device in currentStat['edimax'] %}
        <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['edimax', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
        <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not device['nominalPower'] %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
        {{ device['name']}}
        {% if not loop.last or currentStat['mystrom']|length > 0 or currentStat['shelly']|length > 0 %}<br/>{% endif %}
    {% endfor %}
    {% for key, device in currentStat['mystrom'] %}
        <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['mystrom', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
        <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not device['nominalPower'] %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
        {{ device['name']}}
        {% if not loop.last or currentStat['shelly']|length > 0 %}<br/>{% endif %}
    {% endfor %}
    {% for key, device in currentStat['shelly'] %}
        {% if device['status']['val'] < 2 %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['shelly', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not device['nominalPower'] %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}_{{ device['port'] }}, {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
        {% elseif device['status']['val'] < 4 %}
            {% if is_granted('ROLE_OWNER') %}
            {% if device['status']['position']|default(50) < 100 %}<a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="sendCommand(['shelly', {{ key }}, 2])"><i class="fas fa-angle-double-up"></i></a>{% endif %}{% if device['status']['position']|default(50) > 0 %}<a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="sendCommand(['shelly', {{ key }}, 3])"><i class="fas fa-angle-double-down"></i></a>{% endif %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not device['nominalPower'] %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}_{{ device['port'] }}, {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>{% endif %}
        {% else %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['shelly', {{ key }}, -1])"{% endif %}><i class="fas fa-stop-circle"></i></a>
        {% endif %}
        {{ device['name']}}
        {% if not loop.last %}<br/>{% endif %}
    {% endfor %}
</div>
{% endif %}
{% if connectors['command'] is defined %}
    <div class="small-6 medium-4 columns" style="margin-top:1em;" id="command">
    <h4><i class="fas fa-terminal" style="font-size:2em; color:silver;"></i></h4>
    {% for key, command in connectors['command'] %}
        <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['command', {{ key }}])"{% endif %}><i class="{{ command['icon']}}" style="color:silver"></i></a>
        {{ command['name']}}
        {% if not loop.last %}<br/>{% endif %}
    {% endfor %}
</div>
{% endif %}
</div>
