{% set contactActive = false %}
{% set motionActive = false %}
{% if mobilealertsConnector.getAlarms()|length > 0 %}{% set contactActive = true %}{% endif %}
{% if mystromConnector.getAlarms()|length > 0 %}{% set motionActive = true %}{% endif %}

<div class="row">
    <div class="small-12 medium-6 columns" style="margin-top:0.5em; margin-left:0.5em;">
        <i id="visualDashboardWeatherSymbol" class="owf owf-{{ currentStat['openweathermap']['currentCode'] }}-{{ currentStat['openweathermap']['dayNight'] }} owf-3x refresh" style="color:silver;"></i>
        <div id="visualDashboardMotionAlarmSymbol" class="refresh">{% if motionActive %}<i class="fas fa-exclamation-triangle" style="color: orangered;"></i> <span style="size:small; color: orangered;">{% trans %}label.device.status.motion_detected{% endtrans %}</span><br/>{% endif %}</div>
        <div id="visualDashboardContactAlarmSymbol" class="refresh">{% if contactActive %}<i class="fas fa-exclamation-triangle" style="color: orangered;"></i> <span style="size:small; color: orangered;">{% trans %}label.device.status.contact_detected{% endtrans %}</span><br/>{% endif %}</div>
        {% if not refresh|default(false) %}<img src="{{ path('visual_dashboard')~"?"~date().timestamp()}}" id="visualDashboardMap"></img>{% endif %}
    </div>
    {% if connectors['chromecast']|default([])|length > 0 %}
    <div class="small-6 medium-4 columns refresh" style="margin-top:0.5em;" id="chromecast">
        <h4><i class="fas fa-headphones-alt" style="font-size:2em; color:#6c3483 ;"></i></h4>
        {% for ccId, chromecast in connectors['chromecast'] %}
            <h6>
                {% if chromecast['edimax']|default([])|length > 0 or chromecast['mystrom']|default([])|length > 0 %}
                    <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="$.ajax({url: '{{ path('chromecast_power', {'ccId':ccId, 'power':(chromecastConnector.getPower(chromecast['ip'])+1)%2}) }}'})"{% endif %}><i class="fas fa-power-off" style="color:{% if chromecastConnector.getPower(chromecast['ip']) %}green{% else %}red{% endif %}"></i></a>
                {% endif %}
                {{ chromecast['name']}}
            </h6>
            {% if is_granted('ROLE_OWNER') and chromecastConnector.getState(chromecast['ip']) == 'playing' %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="$.ajax({url: '{{ path('chromecast_volume_down', {'ccId':ccId}) }}'})"><i class="fas fa-volume-down"></i></a>
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="$.ajax({url: '{{ path('chromecast_volume_up', {'ccId':ccId}) }}'})"><i class="fas fa-volume-up"></i></a>
                <br/>
            {% endif %}
            {% if chromecastConnector.getPower(chromecast['ip']) %}
                {% for streamId, stream in chromecast['streams'] %}
                    {% set currentState = false %}
                    {% if chromecastConnector.getUrl(chromecast['ip']) == stream['url'] %}
                        {% set currentStream = true %}
                        {% set currentState = chromecastConnector.getState(chromecast['ip']) %}
                    {% else %}
                        {% set currentStream = false %}
                    {% endif %}
                    <span style="margin-left:20px;"></span><a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="$.ajax({url: '{% if currentStream %}{{ path('chromecast_stop', {'ccId':ccId}) }}{% else %}{{ path('chromecast_play', {'ccId':ccId, 'streamId':streamId}) }}{% endif %}'});"{% endif %}>{% if currentStream %}<i class="{% if currentState|default(false) == 'working' %}fas fa-spinner fa-spin{% else %}fas fa-stop{% endif %}" style="color:green"></i>{% else %}<i class="{% if currentState|default(false) == 'working' %}fas fa-spinner fa-spin{% else %}fas fa-play{% endif %}" style="color:red"></i>{% endif %}</a>
                    {{ stream['name'] }}
                    {% if not loop.last %}<br/>{% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="row">
    {% if currentStat['edimax']|default([])|length > 0 or currentStat['mystrom']|default([])|length > 0 %}
    <div class="small-6 medium-4 columns refresh" style="margin-top:0.5em;" id="edimax">
        <h4><i class="fas fa-plug" style="font-size:2em; color:#148f77 "></i></h4>
        {% for key, device in currentStat['edimax'] %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['edimax', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not (device['nominalPower']|default(false) or device['autoIntervals']|default(false)) %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
            {{ device['name']}}
            {% if not loop.last or currentStat['mystrom']|length > 0 or currentStat['shelly']|length > 0 %}<br/>{% endif %}
        {% endfor %}
        {% for key, device in currentStat['mystrom'] %}
            {% if device['type']|default('') != 'motion' %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['mystrom', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not (device['nominalPower']|default(false) or device['autoIntervals']|default(false)) %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
                {{ device['name']}}
                {% if not loop.last or currentStat['shelly']|length > 0 %}<br/>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if currentStat['shelly']|default([])|length > 0 %}
        <div class="small-6 medium-4 columns refresh" style="margin-top:0.5em;" id="shelly">
        <h4><i class="fas fa-toggle-on" style="font-size:2em; color:#1f618d ;"></i></h4>
        {% for key, device in currentStat['shelly'] if (device['type'] == "roller" or device['type'] == "relay") %}
            {% if not loop.first %}<br/>{% endif %}
            {% if device['status']['val']|default(100) < 2 %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['shelly', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not (device['nominalPower']|default(false) or device['autoIntervals']|default(false)) %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}_{{ device['port'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
            {% elseif device['status']['val']|default(100) < 4 %}
                {% if is_granted('ROLE_OWNER') %}
                {% if device['status']['position']|default(50) < 100 %}<a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="sendCommand(['shelly', {{ key }}, 2])"><i class="fas fa-arrow-circle-up"></i></a>{% endif %}{% if device['status']['position']|default(50) > 0 %}<a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="sendCommand(['shelly', {{ key }}, 3])"><i class="fas fa-arrow-circle-down"></i></a>{% endif %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not device['autoIntervals']|length %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}_{{ device['port'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>{% endif %}
            {% else %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['shelly', {{ key }}, -1]);"{% endif %}><i class="fas fa-stop-circle"></i></a>
            {% endif %}
            {{ device['name']}}
        {% endfor %}
        </div>
    {% endif %}
    {% if currentStat['mobileAlerts']|default([])|length > 0 or currentStat['mystrom']|default([])|length > 0 or currentStat['shelly']|default([])|length > 0 %}
        {% if mobilealertsConnector.contactAvailable()|default(false) or mystromConnector.motionAvailable|default(false) or shellyConnector.doorAvailable()|default(false) %}
        <div class="small-6 medium-4 columns refresh" style="margin-top:0.5em;" id="alarm">
        <h4><i class="fas fa-eye" style="font-size:2em; color:#c40e0e ;"></i></h4>
        {% if connectors['threema']|default([])|length > 0 %}
            {% set alarmMode = mobilealertsConnector.getAlarmMode()|default(0) %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', 'alarm', {{ (alarmMode + 1) % 2 }}]);"{% endif %}><i class="fas {% if alarmMode %}fa-comment{% else %}fa-comment-slash{% endif %}"></i></a> {% trans %}label.alarm.notification{% endtrans %}<br>
        {% endif %}
        {% for maSensor in currentStat['mobileAlerts']|default([]) %}
            {% set maTimestamp = null %}
            {% for measurement in maSensor %}
                {% if measurement['label'] == 'timestamp' %}
                    {% set maTimestamp = measurement['datetime'] %}
                {% elseif measurement['usage']|default('') == 'contact' %}
                    {% if measurement['value'] == 'label.device.status.closed' %}<i class="fas fa-door-closed" style="color:green"></i>{% else %}<i class="fas fa-door-open" style="color:red"></i>{% endif %} {% if ('now'|date('U') - maTimestamp['date']|date('U'))/60/60 > 24 %}<i class="fas fa-hourglass-end" style="color:orange"></i>{% endif %} {{ measurement['label'] }}<br/>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for shellySensor in currentStat['shelly']|default([]) if shellySensor['type'] == "door" %}
            {% if shellySensor['status']['label']|default("") == 'label.device.status.closed' %}<i class="fas fa-door-closed" style="color:green"></i>{% else %}<i class="fas fa-door-open" style="color:red"></i>{% endif %} {% if ('now'|date('U') - shellySensor['timestamp']|default(0)|date('U'))/60/60 > 24 %}<i class="fas fa-hourglass-end" style="color:orange"></i>{% endif %} {{ shellySensor['name'] }}<br/>
        {% endfor %}
        {% for motionSensor in currentStat['mystrom']|default([]) if motionSensor['type']|default('') == 'motion' %}
        {% if not motionSensor['status']['val']|default(false) %}<i class="fas fa-male" style="color:green"></i>{% else %}<i class="fas fa-running" style="color:red"></i>{% endif %} {{ motionSensor['name'] }}<br/>
        {% endfor %}
        {% endif %}
    {% endif %}
    {% if connectors['command']|default([])|length > 0 %}
        <div class="small-6 medium-4 columns refresh" style="margin-top:0.5em;" id="command">
        <h4><i class="fas fa-terminal" style="font-size:2em; color:#2e4053 ;"></i></h4>
        {% for key, command in connectors['command'] %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['command', {{ key }}]);"{% endif %}><i class="{{ command['icon']}}" style="color:silver"></i></a>
            {{ command['name']}}
            {% if not loop.last %}<br/>{% endif %}
        {% endfor %}
        </div>
    {% endif %}
</div>
