{% set contactActive = false %}
{% set motionActive = false %}
{% if mobilealertsConnector.getAlarms()|length > 0 %}{% set contactActive = true %}{% endif %}
{% if shellyConnector.getAlarms()|length > 0 %}{% set contactActive = true %}{% endif %}
{% if mystromConnector.getAlarms()|length > 0 %}{% set motionActive = true %}{% endif %}

{% if is_granted('ROLE_OWNER') %}
    <div id="mystromTimerModal" class="reveal" data-reveal>
      <h4 id="mystromTimerModalTitle">{% trans %}label.mystrom.timer{% endtrans %}</h4>
      <p class="lead">{% trans %}label.mystrom.select_mystrom_timer_lead{% endtrans %}</p>
      <input type="radio" name="mystromTimer" value="timer_0" id="timer_0" checked>
      <label for="timer_0">---</label><br>
      <input type="radio" name="mystromTimer" value="timer_2" id="timer_2">
      <label for="timer_2">2h</label><br>
      <input type="radio" name="mystromTimer" value="timer_4" id="timer_4">
      <label for="timer_4">4h</label><br>
      <input type="radio" name="mystromTimer" value="timer_6" id="timer_6">
      <label for="timer_6">6h</label><br>
      <input type="radio" name="mystromTimer" value="timer_8" id="timer_8">
      <label for="timer_8">8h</label><br>
      <input type="radio" name="mystromTimer" value="timer_10" id="timer_8">
      <label for="timer_10">10h</label><br>
      <input type="radio" name="mystromTimer" value="timer_12" id="timer_12">
      <label for="timer_12">12h</label><br>
      <input type="radio" name="mystromTimer" value="timer_14" id="timer_14">
      <label for="timer_14"6>14h</label>
      <hr>
      <button type="button" onclick="sendCommand(['mystrom', selectedMystrom, getTimerValue()]);$('#mystromTimerModalClose').click();">{% trans %}label.mystrom.timer.start{% endtrans %}</button>
      <button class="close-button" data-close aria-label="Close modal" type="button" id="mystromTimerModalClose">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <script>
        var selectedMystrom;
        function getTimerValue()
        {
            return $("input:radio[name='mystromTimer']:checked").val();
        }
    </script>
    <div id="mystromCarTimerModal" class="reveal" data-reveal>
      <h4 id="mystromCarTimerModalTitle">{% trans %}label.mystrom.cartimer{% endtrans %}</h4>
      <p class="lead">{% trans %}label.mystrom.select_mystrom_cartimer_lead{% endtrans %}</p>
      <label for="cartimer_car">{%  trans %}label.mystrom.cartimer_car{% endtrans %}</label><br>
      <select id="cartimer_car">
        {% for idx,device in currentStat['ecar']|default([]) %}
            <option value="{{ idx }}">{{ device['name'] }}</option>
        {% endfor %}
      </select>
      <label for="cartimer_deadline">{%  trans %}label.mystrom.cartimer_deadline{% endtrans %}</label><br>
      <input type="datetime-local" value="" id="cartimer_deadline">
      <label for="cartimer_percent">{%  trans %}label.mystrom.cartimer_percent{% endtrans %}</label><br>
      <input type="number" value="" min="10" max="100" maxlength="3" id="cartimer_percent">
      <hr>
      <button type="button" onclick="sendCommand(['mystrom', selectedMystromCar, getCarTimerValue()]);$('#mystromCarTimerModalClose').click();">{% trans %}label.mystrom.timer.start{% endtrans %}</button>
      <button class="close-button" data-close aria-label="Close modal" type="button" id="mystromTimerModalClose">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <script>
        var selectedMystromCar;
        function getCarTimerValue()
        {
            return "cartimer_" + $("#cartimer_car").val() + "_" + $("#cartimer_deadline").val() + "_" + $("#cartimer_percent").val();
        }
    </script>
{% endif %}
<div id="deviceModal" class="reveal" data-reveal>
    <h4 id="deviceModalTitle"></h4>
    <p class="lead" id="deviceModalLead"></p>
    <div id="deviceModalContent"></div>
    <button class="close-button" data-close aria-label="Close modal" type="button" id="deviceModalClose">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<script>
    function loadDeviceModal(title, lead, content) {
        $("#deviceModalTitle").html(title);
        $("#deviceModalLead").html(lead);
        $("#deviceModalContent").html(content);
    }
</script>
<div class="row">
    <div class="small-12 medium-5 columns" style="margin-top:0.5em; margin-left:0.5em;">
        <i id="visualDashboardWeatherSymbol" class="owf owf-{{ currentStat['openweathermap']['currentCode'] }}-{{ currentStat['openweathermap']['dayNight'] }} owf-3x refresh" style="color:silver;"></i>
        <div id="visualDashboardMotionAlarmSymbol" class="refresh">{% if motionActive %}<i class="fas fa-exclamation-triangle" style="color: orangered;"></i> <span style="size:small; color: orangered;">{% trans %}label.device.status.motion_detected{% endtrans %}</span><br/>{% endif %}</div>
        <div id="visualDashboardContactAlarmSymbol" class="refresh">{% if contactActive %}<i class="fas fa-exclamation-triangle" style="color: orangered;"></i> <span style="size:small; color: orangered;">{% trans %}label.device.status.contact_detected{% endtrans %}</span><br/>{% endif %}</div>
        {% if not refresh|default(false) %}<img src="{{ path('visual_dashboard')~"?"~date().timestamp()}}" id="visualDashboardMap">{% endif %}
    </div>
    {% if connectors['chromecast']|default([])|length > 0 %}
    <div class="small-12 medium-6 columns" style="margin-top:0.5em;">
        <h4><a href="javascript:void(0);" onclick="$('#chromecast_container').toggle()"><i class="fas fa-headphones-alt" style="font-size:2em; color:#6c3483 ;"></i></a></h4>
        <div id="chromecast_container" style="display:none;">
        <div id="chromecast" class="refresh">
        {% for ccId, chromecast in connectors['chromecast'] %}
            <h6>
                {% if chromecast['edimax']|default([])|length > 0 or chromecast['mystrom']|default([])|length > 0 %}
                    <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="$.ajax({url: '{{ path('chromecast_power', {'ccId':ccId, 'power':(chromecastConnector.getPower(chromecast['ip'])+1)%2}) }}'})"{% endif %}><i class="fas fa-power-off" style="color:{% if chromecastConnector.getPower(chromecast['ip']) %}green{% else %}red{% endif %}"></i></a>
                {% endif %}
                {{ chromecast['name']}}
            </h6>
            {% if is_granted('ROLE_OWNER') and chromecastConnector.getState(chromecast['ip']) == 'playing' %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="$.ajax({url: '{{ path('chromecast_volume_down', {'ccId':ccId}) }}'})"><i class="fas fa-volume-down"></i></a>
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="$.ajax({url: '{{ path('chromecast_volume_up', {'ccId':ccId}) }}'})"><i class="fas fa-volume-up"></i></a>
                <br/>
            {% endif %}
            {% if chromecastConnector.getPower(chromecast['ip']) %}
                {% for streamId, stream in chromecast['streams'] %}
                    {% set currentState = false %}
                    {% if chromecastConnector.getUrl(chromecast['ip']) == stream['url'] %}
                        {% set currentStream = true %}
                        {% set currentState = chromecastConnector.getState(chromecast['ip']) %}
                    {% else %}
                        {% set currentStream = false %}
                    {% endif %}
                    <span style="margin-left:20px;"></span><a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="$.ajax({url: '{% if currentStream %}{{ path('chromecast_stop', {'ccId':ccId}) }}{% else %}{{ path('chromecast_play', {'ccId':ccId, 'streamId':streamId}) }}{% endif %}'});"{% endif %}>{% if currentStream %}<i class="{% if currentState|default(false) == 'working' %}fas fa-spinner fa-spin{% else %}fas fa-stop{% endif %}" style="color:green"></i>{% else %}<i class="{% if currentState|default(false) == 'working' %}fas fa-spinner fa-spin{% else %}fas fa-play{% endif %}" style="color:red"></i>{% endif %}</a>
                    {{ stream['name'] }}
                    {% if not loop.last %}<br/>{% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="row">
    {% if currentStat['edimax']|default([])|length > 0 or currentStat['mystrom']|default([])|length > 0 %}
    <div class="medium-6 small-12 columns" style="margin-top:0.5em;">
        <h4><a href="javascript:void(0);" onclick="$('#edimax_container').toggle()"><i class="fas fa-plug" style="font-size:2em; color:#148f77 "></i></a></h4>
        <div id="edimax_container" style="display:none;">
        <div id="edimax" class="refresh">
        {% for key, device in currentStat['edimax']|default([]) %}
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['edimax', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
            <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not (device['nominalPower']|default(false) or device['autoIntervals']|default(false)) %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
            {{ device['name']}}
            {% if not loop.last or currentStat['mystrom']|length > 0 or currentStat['shelly']|length > 0 %}<br/>{% endif %}
        {% endfor %}
        {% for key, device in currentStat['mystrom']|default([]) %}
            {% if device['type']|default('') != 'motion' %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['mystrom', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not (device['nominalPower']|default(false) or device['autoIntervals']|default(false)) %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
                {% if device['type'] == 'battery' %}
                    {% if device.timerData.activePercentage|default(100) < 25 %}
                        {% set timerColor =  'red' %}
                        {% set timerClass = 'empty' %}
                    {% elseif device.timerData.activePercentage|default(100) < 75 %}
                        {% set timerColor =  'orange' %}
                        {% set timerClass = 'half' %}
                    {% elseif device.timerData.activePercentage|default(100) < 90 %}
                        {% set timerColor =  'yellow' %}
                        {% set timerClass = 'three-quarters' %}
                    {% else %}
                        {% set timerColor =  'green' %}
                        {% set timerClass = 'full' %}
                    {% endif %}
                    <a href="#" data-open="mystromTimerModal" onclick='selectedMystrom = "{{ key }}";' class="button tiny" style="border-radius:5px;"><i class="fas fa-battery-{{ timerClass}}" style="color:{{ timerColor }}"></i> {{ device.timerData['activePercentage']|default(100) }}% / {{ device.timerData['activeTime']|default(0) }}h</a>
                {% endif %}
                {% if device['type'] == 'carTimer' %}
                    <a href="#" data-open="mystromCarTimerModal" onclick='selectedMystromCar = "{{ key }}";' class="button tiny" style="border-radius:5px;"><i class="fas fa-hourglass-half"></i> {{ currentStat['ecar'][device.carTimerData['carId']]['name']|default('') }}: {{ device.carTimerData['percent']|default(0) }}%, {{ device.carTimerData['deadline']['date']|default(date())|date("d.h.Y H:i") }}</a>
                {% endif %}
                {%  if device.status.power|default(false) is not same as(false) %}
                    <a href="#" data-open="deviceModal" onclick="loadDeviceModal('{{ device['name']}}', '', '\
                    <ul>\
                        <li>{% trans %}label.device.power{% endtrans %}: {{  device.status.power|number_format(0, ".", '') }} W</li>\
                        <li>{% trans %}label.device.energy_day{% endtrans %}: {{  device.consumption_day|number_format(1, '.', '') }} kWh</li>\
                        <li>{% trans %}label.device.energy_yesterday{% endtrans %}: {{  device.consumption_yesterday|number_format(1, '.', '') }} kWh</li>\
                    </ul>');">{{ device['name']}}</a>
                {% else %}
                    {{ device['name']}}
                {% endif %}
                {% if not loop.last or currentStat['shelly']|default([])|length > 0 %}<br/>{% endif %}
            {% endif %}
        {% endfor %}
        </div>
        </div>
    </div>
    {% endif %}
    {% if shellyConnector.rollerRelayAvailable() %}
        <div class="medium-6 small-12 columns" style="margin-top:0.5em;">
            <h4><a href="javascript:void(0);" onclick="$('#shelly_container').toggle()"><i class="fas fa-toggle-on" style="font-size:2em; color:#1f618d ;"></i></a></h4>
            <div id="shelly_container" style="display:none;">
            <div id="shelly" class="refresh">
            {% for key, device in currentStat['shelly'] if (device['type'] == "roller" or device['type'] == "relay") %}
            {% if not loop.first %}<br/>{% endif %}
            {% if device['status']['val']|default(100) < 2 %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['shelly', {{ key }}, {{ (device['status']['val'] + 1) % 2 }}])"{% endif %}><i class="fas fa-power-off" style="color:{% if device['status']['val'] %}green{% else %}red{% endif %}"></i></a>
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not (device['nominalPower']|default(false) or device['autoIntervals']|default(false)) %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}_{{ device['port'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>
            {% elseif device['status']['val']|default(100) < 4 %}
                {% if is_granted('ROLE_OWNER') %}
                {% if device['status']['position']|default(50) < 100 %}<a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="sendCommand(['shelly', {{ key }}, 2])"><i class="fas fa-arrow-circle-up"></i></a>{% endif %}{% if device['status']['position']|default(50) > 0 %}<a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" onclick="sendCommand(['shelly', {{ key }}, 3])"><i class="fas fa-arrow-circle-down"></i></a>{% endif %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;{% if not device['autoIntervals']|length %}visibility:hidden;{% endif %}}}" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', '{{ device['ip'] }}_{{ device['port'] }}', {{ (device['mode'] + 1) % 2 }}])"{% endif %}><i class="fas {% if device['mode'] %}fa-lock{% else %}fa-lock-open{% endif %}"></i></a>{% endif %}
            {% else %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['shelly', {{ key }}, -1]);"{% endif %}><i class="fas fa-stop-circle"></i></a>
            {% endif %}
            {%  if device.status.power|default(false) is not same as(false) %}
                <a href="#" data-open="deviceModal" onclick="loadDeviceModal('{{ device['name']}}', '', '\
                <ul>\
                    <li>{% trans %}label.device.power{% endtrans %}: {{  device.status.power|number_format(0, ".", '') }} W</li>\
                    <li>{% trans %}label.device.energy_day{% endtrans %}: {{  device.consumption_day|number_format(1, '.', '') }} kWh</li>\
                    <li>{% trans %}label.device.energy_yesterday{% endtrans %}: {{  device.consumption_yesterday|number_format(1, '.', '') }} kWh</li>\
                </ul>');">{{ device['name']}}</a>
            {% else %}
                {{ device['name']}}
            {% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
    {% endif %}
</div>
<div class="row">
    {% if currentStat['mobileAlerts']|default([])|length > 0 or currentStat['mystrom']|default([])|length > 0 or currentStat['shelly']|default([])|length > 0 %}
        {% if mobilealertsConnector.contactAvailable()|default(false) or mystromConnector.motionAvailable()|default(false) or shellyConnector.doorAvailable()|default(false) %}
        <div class="medium-6 small-12 columns" style="margin-top:0.5em;">
            <h4><a href="javascript:void(0);" onclick="$('#alarm_container').toggle()"><i class="fas fa-eye" style="font-size:2em; color:#c40e0e ;"></i></a></h4>
            <div id="alarm_container" style="display:none;">
            <div id="alarm" class="refresh">
            {% if connectors['threema']|default([])|length > 0 %}
                {% set alarmMode = mobilealertsConnector.getAlarmMode()|default(0) %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['settings', 'mode', 'alarm', {{ (alarmMode + 1) % 2 }}]);"{% endif %}><i class="fas {% if alarmMode %}fa-comment{% else %}fa-comment-slash{% endif %}"></i></a> {% trans %}label.alarm.notification{% endtrans %}<br>
            {% endif %}
            {% for maSensor in currentStat['mobileAlerts']|default([]) %}
                {% set maTimestamp = null %}
                {% for measurement in maSensor %}
                    {% if measurement['label'] == 'timestamp' %}
                        {% set maTimestamp = measurement['datetime'] %}
                    {% elseif measurement['usage']|default('') == 'contact' %}
                        {% if measurement['value'] == 'label.device.status.closed' %}<i class="fas fa-door-closed" style="color:green"></i>{% else %}<i class="fas fa-door-open" style="color:red"></i>{% endif %} {% if ('now'|date('U') - maTimestamp['date']|date('U'))/60/60 > 24 %}<i class="fas fa-hourglass-end" style="color:orange"></i>{% endif %} {{ measurement['label'] }}<br/>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for shellySensor in currentStat['shelly']|default([]) if shellySensor['type'] == "door" %}
                {% if shellySensor['status']['label']|default("") == 'label.device.status.closed' %}<i class="fas fa-door-closed" style="color:green"></i>{% else %}<i class="fas fa-door-open" style="color:red"></i>{% endif %} {% if ('now'|date('U') - shellySensor['timestamp']|default(0)|date('U'))/60/60 > 24 %}<i class="fas fa-hourglass-end" style="color:orange"></i>{% endif %} {{ shellySensor['name'] }}<br/>
            {% endfor %}
            {% for motionSensor in currentStat['mystrom']|default([]) if motionSensor['type']|default('') == 'motion' %}
            {% if not motionSensor['status']['val']|default(false) %}<i class="fas fa-male" style="color:green"></i>{% else %}<i class="fas fa-running" style="color:red"></i>{% endif %} {{ motionSensor['name'] }}<br/>
            {% endfor %}
            </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if gardenaConnector.availableDevices|default([])|length > 0 %}
        <div class="medium-6 small-12 columns" style="margin-top:0.5em;">
            <h4><a href="javascript:void(0);" onclick="$('#gardena_container').toggle()"><i class="fas fa-leaf" style="font-size:2em; color:green;"></i></a></h4>
            <div id="gardena_container" style="display:none;">
            <div id="gardena" class="refresh">
            {% for gardenaDevice in gardenaConnector.availableDevices() %}
                {% if gardenaDevice.config['type']|default(false) == 'VALVE' %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['gardena', '{{ gardenaDevice.connectorId }}', 900]);"{% endif %}><i class="fas fa-shower" style="color:silver"></i></a>
                {{ gardenaDevice.config['name']}}
                {% elseif gardenaDevice.config['type']|default(false) == 'SENSOR' and gardenaDevice.config['soilHumidity']|default(false) != false %}
                {{ gardenaDevice.config['name'] }}: <i class="fas fa-tint" style="color:blue;"></i> {{  gardenaDevice.config['soilHumidity'] }}%
                {% endif %}
                {% if not loop.last %}<br/>{% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
    {% endif %}
    </div>
    {% if ecarConnector.carAvailable() %}
    <div class="row">
        <div class="small-12 medium-6 columns" style="margin-top:0.5em;">
            <h4><a href="javascript:void(0);" onclick="$('#ecar_container').toggle()"><img src="{{ asset('ecar-blue.png') }}" style="height:50px; margin:0px; padding:0px;"></a></h4>
            <div id="ecar_container" style="display:none;">
            <div id="ecar" class="refresh"">
            {% for device in currentStat['ecar'] %}
                {% trans %}label.ecar.name{% endtrans %}: {{ device['name'] }}<br>
                {% trans %}label.ecar.soc{% endtrans %}: {{ device['data']['soc']|default('???') }} %<br>
                {% trans %}label.ecar.range{% endtrans %}: {{ device['data']['range']|default('???') }} km
                {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if connectors['command']|default([])|length > 0 %}
    <div class="row">
        <div class="small-12 medium-6 columns" style="margin-top:0.5em;">
            <h4><a href="javascript:void(0);" onclick="$('#command_container').toggle()"><i class="fas fa-terminal" style="font-size:2em; color:#2e4053 ;"></i></h4>
            <div id="command_container" style="display:none;">
            <div id="command" class="refresh"">
            {% for key, command in connectors['command'] %}
                <a href="javascript:void(0);" class="button tiny" style="border-radius:5px;" {% if is_granted('ROLE_OWNER') %}onclick="sendCommand(['command', {{ key }}]);"{% endif %}><i class="{{ command['icon']}}" style="color:silver"></i></a>
                {{ command['name']}}
                {% if not loop.last %}<br/>{% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
