{% extends 'base.html.twig' %}
   
{% block body %}
{% if history['smartfox']|default(false) %}
<style>
    .tableFixHead          { overflow: auto; height:430px; max-height:80%;}
    .tableFixHead thead th { position: sticky; top: 0; z-index: 1; background:silver;}
</style>
<div class="small-12 columns">
    <h4>{% trans %}label.energy{% endtrans %}</h4>
    <table class="scroll tableFixHead">
        <thead>
            <tr>
                <th></th>
                <th>{% trans %}label.smartfox.pv{% endtrans %}</th>
                <th>{% trans %}label.smartfox.in{% endtrans %}</th>
                <th>{% trans %}label.smartfox.out{% endtrans %}</th>
                <th>{% trans %}label.smartfox.usage{% endtrans %}</th>
                <th>{% trans %}label.smartfox.self_usage{% endtrans %}</th>
                <th>{% trans %}label.smartfox.self_suff_degree{% endtrans %}</th>
                <th>{% trans %}label.smartfox.net{% endtrans %}</th>
                {% if smartfoxConnector.hasStorage() %}
                    <th>{% trans %}label.smartfox.storage_power{% endtrans %} {% trans %}label.storage.power_in{% endtrans %}</th>
                    <th>{% trans %}label.smartfox.storage_power{% endtrans %} {% trans %}label.storage.power_out{% endtrans %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for interval in history['intervals'] %}
            {% set highRateInAbs = (history['smartfox']['energy_in_' ~ interval ~ '_highrate']/1000)|round(1) %}
            {% set totalIn = (history['smartfox']['energy_in_' ~ interval]/1000)|round(0) %}
            {% if totalIn > 0 %}
                {% set highRateInPercentage = 100/totalIn*highRateInAbs %}
            {% else %}
                {% set highRateInPercentage = 0 %}
            {% endif %}
            <tr>
                <th>{{ ('label.' ~ interval) |trans }}</th>
                <td>{{ (history['smartfox']['pv_' ~ interval]/1000)|round(1) }} kWh{% if smartfoxConnector.hasAltPv() %} (davon {{ (history['smartfox']['pv_alt_' ~ interval]/1000)|round(1) }} kWh Mini-PV){% endif %}</td>
                <td>{{ totalIn }} kWh{% if history['smartfox']['energy_in_' ~ interval ~ '_highrate']|default(false) %} ({% trans %}label.highrate{% endtrans %}: {{ highRateInAbs }} kWh = {{ highRateInPercentage|round }} %){% endif %}</td>
                <td>{{ (history['smartfox']['energy_out_' ~ interval]/1000)|round(1) }} kWh</td>
                <td>{{ ((history['smartfox']['pv_' ~ interval] + history['smartfox']['energy_in_' ~ interval] - history['smartfox']['energy_out_' ~ interval])/1000)|round(1) }} kWh</td>
                <td>{% if history['smartfox']['pv_' ~ interval] and history['smartfox']['pv_' ~ interval] >= history['smartfox']['energy_out_' ~ interval] %}{{ ((history['smartfox']['pv_' ~ interval] - history['smartfox']['energy_out_' ~ interval]) / history['smartfox']['pv_' ~ interval] * 100) |round }} % ( = {{ ((history['smartfox']['pv_' ~ interval] - history['smartfox']['energy_out_' ~ interval])/1000)|round(1) }} kWh){% else %}---{% endif %}</td>
                <td>{% if history['smartfox']['pv_' ~ interval] and history['smartfox']['pv_' ~ interval] >= history['smartfox']['energy_out_' ~ interval] %}{{ (100/(history['smartfox']['pv_' ~ interval] + history['smartfox']['energy_in_' ~ interval] - history['smartfox']['energy_out_' ~ interval])*(history['smartfox']['pv_' ~ interval]-history['smartfox']['energy_out_' ~ interval]))|round }} %{% else %}---{% endif %}</td>
                <td>{{ ((history['smartfox']['energy_in_' ~ interval] - history['smartfox']['energy_out_' ~ interval])/1000)|round(1) }} kWh</td>
                {% if smartfoxConnector.hasStorage() %}
                    <td>{{ (history['smartfox']['storage_in_' ~ interval]/1000)|round(1) }} kWh</td>
                    <td>{{ (history['smartfox']['storage_out_' ~ interval]/1000)|round(1) }} kWh</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% if history['conexio']|default(false) %}
<div class="small-12 columns">
    <h4>{% trans %}label.solarheat{% endtrans %}</h4>
     <table class="scroll tableFixHead">
        <thead>
            <tr>
                <th></th>
                <th>{% trans %}label.solarheat.production{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for interval in history['intervals'] %}
            <tr>
                <th>{{ ('label.' ~ interval) |trans }}</th>
                <td>{{ history['conexio']['energy_' ~ interval] }} kWh</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
</div>
{% endif %}
{% endblock %}
